<!-- <p class="fs-1 fw-bold fst-italic">Main Display Area</p> -->
<div class="main-container">
    <div class="first-row">

        <!-- contenido de la primera fila -->
        <app-categories></app-categories>
    </div>

    <div class="second-row">
        <div class="left-column">
            <!-- Contenido de la columna izquierda -->
            <app-menu></app-menu>
        </div>
        <div class="right-column">
            <!-- Contenido de la columna derecha -->
            Fila 3 - 25%
        </div>
    </div>
    <!-- <div class="row row2">

            <app-menu></app-menu> -->
    <!-- <div class="my-container mx-auto border border-dark">
                <div class="mb-4 my-shadow my-rounded-corner overflow-hidden" *ngFor="let suggestedProduct of [1,1,1]" { }>
                    <div class="product-baner">Baner</div>

                    <div class="product-list">List</div>
                </div>
            </div> -->

    <!-- </div>
        <div class="row row3">Fila 3 - 25%</div>
    </div>
    <div class="second-column">
        <div class="column col1">Columna 1 - 20%</div>
        <div class="column col2">Columna 2 - 60%</div>
        <div class="column col3">Columna 3 - 20%</div>
    </div>
</div> -->